{{yield}}
<h3>Filter</h3>
<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Email</label>
{{input
    value=proxy.email
    key-up=(action 'handleFilterEntry')
    type="text"
    class="form-control"}}
<br><br>