<div class="col-lg-6">
  <h1>Emails List</h1>
  {{#each content as |email|}}
    {{email-list/item
      content=email
      deleteAction="deleteItem"
      updateAction="updateItem"
    }}
  {{/each}}
</div>
