<div class="col-lg-6">
  <h1>Emails List
  	<span class="badge badge-primary badge-pill">{{content.length}}</span>
  </h1>
  {{email-filter filterAction='filterItem'}}
  {{name-filter filterAction='filterItem'}}
  <div class="list-group">
    {{#each filteredContent as |email|}}
      {{email-list/item
        content=email
        deleteAction="deleteItem"
        updateAction="updateItem"
      }}
    {{/each}}
  </div>
</div>
